<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../icons/Favicon.svg" type="image/x-icon"/>
    <script src="../Js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../Css/general.css"/>
    <link rel="stylesheet" href="../Css/AcercaDe.css"/>
    <script src="../Js/general.js" defer></script>


    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

 <!--Fuentes en linea-->
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
            rel="stylesheet"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet" />
      
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    
    <title>Acerca</title>
<body>
<header>
   <nav th:insert="inicio :: nav">
    </nav>
</header>
<main>
    <section>             
        <h2 id="title">Acerca</h2>
        
        <div id="p-1"><h2>Acerca de Nosotros</h2>
        
            <p>
                Puppies Love  es una empresa con más de 9 años de experiencia en el mercado ofreciendo productos de
                primera calidad al mejor precio.

                Cuenta con un equipo de venta que podrá asesorar tu compra y para mayor comodidad te ofrecemos el
                servicio en todo Lima.

                Durante todos estos años hemos trabajado con dedicación para que nuestros clientes queden satisfechos
                antes, durante y después de la compra, y lo hemos logrado gracias a todos nuestros canales de
                comunicación: Central Telefónica, Dirección de Correo Electrónico Corporativo, Sitio Web con Chat.

                Apostamos a ser líder en el mercado en los próximos años diferenciándonos en la calidad de nuestro
                servicio, puntualidad y cordialidad.</p></div>
                
        <div id="p-2"><h2>Nuestra Filosofia</h2>
        
            <p>
                En Puppie Love estamos locos y está bien, queremos contagiar a cada MinisoLover allá afuera con lo que
                nuestra marca significa para nosotros.

                Desde el cuidadoso diseño de cada producto hasta la experiencia que cada persona tiene en nuestras
                tiendas debe ser algo memorable y único.

                Nuestro objetivo es siempre sorprender, siempre enamorar y siempre cumplir lo que prometemos.

                Ver lo que nadie más está viendo, hacer lo que nadie está haciendo, romper esquemas, construir la mejor
                versión de la marca que se pueda construir.</p></div>
    </section>
    
     <div class="btn">
        <span class="fas fa-bars"></span>
    </div>
    <aside class="sidebar" th:replace="inicio ::menu"></aside>

</main>
    <div th:replace="inicio :: footer"></div>


<script>
    var ruta = "../";
</script>
</body>

</html>