<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head> 
 <title>Registro</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../Css/Registro.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="../icons/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="../Js/jquery-3.5.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<img class="logo" src="../icons/Logo-red.png" alt="No se encuentra">
<img class="wave" src="../icons/Trazado.png"/>
<div class="container">
    <div class="img">
        <img src="../icons/Web-shopping-image.png"/>
    </div>
<div class="login-content">
        <form th:action="grabar" method="post" th:object="${usuario}">
           <img src="../icons/Hombre.png">
            <img src="../icons/Mujer.png">
            <h2 class="title">REGISTRO</h2>
            <div class="codInput input-div focus">             
                <div class="i">
                    <i class="fas fa-signature"></i>
                </div>
                <div class="div">
                    <h5>Codigo</h5>
                    <input th:field="*{codUsuario}" type="text" id="codigo" class="hidden"/>
                </div>
            </div>
            <div class="input-div focus">             
                <div class="i">
                    <i class="fas fa-signature"></i>
                </div>
                <div class="div">
                    <h5>Nombre</h5>
                    <input th:field="*{nombre}" type="text" id="nombre" class="input" required="true"/>
                </div>
            </div>
            <div class="input-div focus">
                <div class="i">
                    <i class="fas fa-signature"></i>
                </div>
                <div class="div">
                    <h5>Apellido</h5>
                    <input th:field="*{apellido}" type="text" id="Apellido" class="input" required="true"/>

                </div>
            </div>
            <div class="input-div focus">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input th:field="*{username}" type="text" id="username" class="input" required="true"/>

                </div>
            </div>
            <div class="input-div focus">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Contraseña</h5>
                    <input th:field="*{password}" type="text" id="password" class="input" required="true"/>

                </div>
            </div>
            <div class="form-row">
				<div class="form-group col-md-12">
					<select id="inputRol" class="form-control" th:field="*{idRoles}">
						<option value="-1"> Selecciona tu rol</option>
						<option th:each="r : ${lstRoles}" th:value="${r.idRoles}" th:text="${r.descripcion}"></option>
					</select>
				</div>
			</div>
          
            <button type="submit" id="btn" name="opcion" value="registrar">Registrar</button>
            
            <div th:if="${success} != null" th:text="${success}"></div>
	        <div th:if="${mensaje} != null" th:text="${mensaje}"></div>
         
        </form>
</div>
<script type="text/javascript" src="../Js/main.js"></script>
<script>
    var ruta = "../";
</script>
</body>
</html>