<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${categoryName}"></title>
    <link rel="shortcut icon" href="../icons/Favicon.svg" type="image/x-icon" />
    <script src="../Js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../Css/general.css" />
    <link rel="stylesheet" href="../Css/Servicios.css" />
    <script src="../Js/Categorias.js" defer></script>
    <script src="../Js/general.js" defer></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <!--Fuentes en linea-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet" />
</head>
<body>
<header>
    <nav th:insert="inicio :: nav">
    </nav>
</header>
<main>
    <section>
        <div id="baner" th:replace="inicio :: banner"></div>
            <div class="container">

             <div id="categoria" class="ds-fx">
                <h2 th:text="${categoryName}"></h2>
              </div>
                <div class="row">
                            <div class="col-md-12">
                                <div id="Ventas">
                                    <figure th:each="s : ${listService}" class="compras">
                                      <img
                                                th:src="@{${'/img/'+s.idPet+'.png'}}"
                                                alt="" />
                                        <div class="container-product-name">
                                        <h5 th:text="${s.nomPet}"></h5>
                                        </div>
                                        <form action="${pageContext.request.contextPath}/crudprod"
                                              method="post">
                                            <input type="hidden" name="cod" value="${s.idPet}">
                                            <input class="btn-compras" type="submit" name="opcion"
                                                   th:value="${s.estado}">
                                        </form>
                                    </figure>
                                </div>
                            </div>
                </div>
            </div>
    </section>
    <div class="btn">
        <span class="fas fa-bars"></span>
    </div>
    <aside class="sidebar" th:replace="inicio ::menu"></aside>

</main>
    <div th:replace="inicio :: footer"></div>

</body>
</html>